<div class="main-container">
  <h1>ALL OF THE TWEETS...ALL</h1>

  <div class="col-md-4">
    <%= form_for(@tweet, { remote: true, html: {class: 'tweet_index', 'data-type' => 'json', 'data-remote' => 'dog'} }) do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <%= f.submit %>
    <% end %>
  </div>

  <div class="col-md-8">
    <ul id='all_tweets'>
      <% @tweets.each do |tweet| %>
        <li>
          <%#= link_to "#{tweet.user.username} says #{tweet.content}", tweet_path(tweet)%>
          <%= link_to tweet.content, tweet_path(tweet)%>
        </li>
      <% end %>
    </ul>
  </div>

</div>
